{%  extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="border-top pt-3">
			<small class="text-muted">
				Don't Have An Account? <a class="ml-2" href="{% url 'register'%}"> Sign Up </a>
			</small>
			<small class="text-muted">
				Forget Password? <a class="ml-4" href="{% url 'password_reset'%}"> Password Reset </a>
			</small>
		</div>
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4"> Login </legend>
				{{form|crispy}}
			</fieldset>
			<div class="form-group">
			<button class="btn btn-outline-info" type="submit"> Log In </button>
			</div>
		</form>
	</div>
{% endblock content %}
