{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{object.user.profile.image.url}}">
        <div class="media-body">
          <h2 class="account-heading">{{ object.user.username }}</h2>
          <p class="text-secondary">{{ object.user.email }}</p>
        </div>
      </div>
      <div class = "content-section">
        <p> {{object.get_gender_display}} </p>
        <p> From: {{object.country}} </p>
        <p> {{object.bio}} </p>
        </div>
      </div>
      <div class = "content-section">
        <h1> Posts </h1>
      {% for post in posts %}
    	<article class="media content-section">
    				<img class = "rounded-circle article-img" src = "{{post.author.profile.image.url}}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'profile-other' post.author.profile.id %}">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
        	{% endfor %}
    </div>
{% endblock content %}
