{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{userd.profile.image.url}}">
        <div class="media-body">
          <h2 class="account-heading">{{ userd.username }}</h2>
          <p class="text-secondary">{{ userd.email }}</p>
        </div>
      </div>
      <div class="content-section">
        <p> {{userd.profile.get_gender_display}} </p>
        <p> From: {{userd.profile.country}} </p>
        <p> Bio:{{userd.profile.bio}} </p>
    	</div>
{% if user.is_authenthicated %}
{% if userd == user %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Edit Profile
</button>
{% endif %}
{% endif %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                	<form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
            			<fieldset class="form-group">
                        {{pform|crispy}}
            			</fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-success md-4">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
      <div class="content-section">
        <h1> My posts </h1>
      {% for post in posts %}
      <article class="media content-section">
            <img class = "rounded-circle article-img" src = "{{post.author.profile.image.url}}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'profile' slug=post.author.username %}">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h3><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
        {% endfor %}
    </div>
      <div class="content-section">
    		<form method="POST" enctype="multipart/form-data">
    			{% csrf_token %}
    			<fieldset class="form-group">
    			</fieldset>
    			<div class="form-group">
    			</div>
    		</form>
    	</div>
    </div>
{% endblock content %}
