boto3==1.13.9
botocore==1.16.9
decorator==4.4.0
Django==3.0.3
django-crispy-forms==1.9.0
django-dev==0.2.1
django-materializecss-form==1.1.17
django-mathfilters==1.0.0
django-misaka==0.2.1
django-rest-framework==0.1.0
django-summernote==0.8.11.6
djangorestframework==3.11.0
docutils==0.15.2
misaka==2.1.1
numpy==1.18.1
Pillow==5.4.1
requests==2.21.0
s3transfer==0.3.3
