{% extends "base.html" %}
{% load static %}

{%block content%}
<style media="screen">
    /* .circular--portrait {
  position: relative;
  width: auto;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
} */
    .circular--square {
        border-radius: 50% !important;
    }

    .circular--landscape {
        margin: 4vh;
        display: inline-block;
        position: relative;
        max-width: 10vh;
        max-height: 10vh;
        /* width: 200px; */
        height: 10vh;
        overflow: hidden;
        border-radius: 50%;
    }

    .circular--landscape img {

        width: auto;
        height: 100%;
        /* margin-left: -50px; */
    }
</style>
<div class="row">
    <div class="col col s12 l2">
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    <h4>Channels</h4>
                </span>
                {% if user.is_authenticated%}
                <li class="">
                    <h5 align="center"><a class="" href="{% url 'post-create' %}"> Create Group Post </a> </h5>
                </li>
                {% endif %}
                <ul class="collection">

                    {% for c in channels %}
                    <li class="collection-item"> <a href="{% url 'group-detail' slug=group.title activechannel=c.name %}">
                            <p> {{c.name}} </p>
                        </a> </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col s12 l7">
        <div class="card">
            <div class="card-image">
                <img src="{% static 'sn.jpg' %}">
                <!-- <h1 class="card-title"></h1> -->
                <span class="card-title">
                    <h1>{{group.title}}</h1>
                </span>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col s8 l8">
                        <h4>Description:</h4>
                        <p class="flow-text">{{group.description}}</p>
                    </div>
                    <div class="col s4 l4">
                        <h3>Members:{{countmem.count}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 l12">
                        {% for mem in gmember %}
                        {% if mem.status == 1 and cgmember.auth < 2%}
                        <div class="chip">
                            <img src="{{  mem.user.profile.image.url }}" alt="Contact Person">
                            {{mem.user.username}} <a href="{% url 'reject' slug=group.title userd=mem.user %}">Remove</a>
                        </div>

                        {% elif mem.status == 1 %}
                        <div class="chip">
                            <img src="{{  mem.user.profile.image.url }}" alt="Contact Person">
                            {{mem.user.username}}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                </div>


                <div class="divider"></div>
                {% if not user in group.members.all %}
                <a href="{%url 'addmember' slug=group.title%}"><button type="button" name="button">Join</button></a>
                {% elif user in group.members.all and cgmember.status == 0 %}
                <h3>Your application is Pending!!</h3>
                {% else %}
                <a href="{%url 'addmember' slug=group.title%}"><button type="button" name="button">Leave</button></a>
                {% endif %}

                {% if cgmember.auth < 2 %}
                <a class="waves-effect waves-light btn modal-trigger" href="#exampleModalCenter">
                    Request List
                </a>



                {% endif %}

                <div class="divider"></div>
                {% if posts %}
                {% for post in posts %}
                <div class="row">

                    <div class="col s12 l12">
                        <div class="card orange lighten-5">
                            <!-- <div class="card-image">
                                    <img src="img/curry.jpg" alt="">
                                    <a href="" class="halfway-fab btn-floating pink pulse">
                                        <i class="material-icons">favorite</i>
                                    </a>
                                </div> -->
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s3 l3 ">
                                        <div class="circular--landscape">
                                            <img src="{{post.author.profile.image.url}}" alt="">

                                        </div>
                                        <p class="floating-text center"><a class="mr-2" href="{% url 'profile' slug=post.author.username %}">By {{ post.author }}</a></p>

                                    </div>
                                    <div class="col s18 l8">
                                        <!-- <small class="text-muted">{{ post.date_posted }}</small> -->
                                        {% if not user in post.views.all %}
                                        <h3><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
                                        <!-- <h2><a class= href="{% url 'post-detail' post.id %}"><span class="card-title">{{ post.title }}</span></a></h2> -->
                                        {% else %}
                                        <h3><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
                                        {% endif %}
                                        <p class="left">{{ post.date_posted }}</p>
                                    </div>
                                    <div class="col s1 l1 right">
                                        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>

                                    </div>
                                </div>


                                <div class="divider">

                                </div>

                                <p class="flow-text">{{post.content}}</p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Action<i class="material-icons right">close</i></span>
                                <p><a href="" class=" btn btn-large red left">Dont Show this Post</a></p>
                                <p><a href="" class=" btn btn-large amber left">Add to Favorites</a></p>
                                <p><a href="" class=" btn btn-large blue left">Share</a></p>
                            </div>
                            <div class="card-action">
                                <!-- halfway-fab -->
<!--
                                <a href="" class=" btn-floating pink pulse right">
                                    <i class="material-icons">favorite</i>
                                </a> -->
                                <p>
                                    {% for tag in post.tags.all %}
                                    <a href="{% url 'explore-tag' tag %}"> #{{tag}} </a>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

                {% else %}
                <h1>No Posts yet</h1>
                {% endif %}
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>


    </div>
    <div class="col s12 l3">

    </div>
</div>

<!-- Modal Structure -->
<div id="exampleModalCenter" class="modal">
    <div class="modal-content">
        <h4>Pending List</h4>

        <div class="modal-body">
            {% for mem in gmember %}
            {% if  mem.status == 0 %}
            <li>
                <ul>
                    {{mem.user.username}}:<a href="{% url 'accept' slug=group.title userd=mem.user %}">Accept</a>/<a href="{% url 'reject' slug=group.title userd=mem.user %}">Reject</a>
                </ul>

            </li>
            {%endif%}
            {%endfor%}
        </div>
        <div class="modal-footer">

            <a href="" class="btn btn-large green">Save changes</a>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Pending List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% for mem in gmember %}
                {% if  mem.status == 0 %}
                <li>
                    <ul>
                        {{mem.user.username}}:<a href="{% url 'accept' slug=group.title userd=mem.user %}">Accept</a>/<a href="{% url 'reject' slug=group.title userd=mem.user %}">Reject</a>
                    </ul>

                </li>
                {%endif%}
                {%endfor%}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> -->
{%endblock%}
{% url 'profile' slug=user.username %}
