{% extends "base.html" %}
{%block content%}
<h1>{{group.title}}</h1>
<h2>{{group.description}}</h2>
<h3>{{group.members.count}} w</h3>
{% for mem in gmember %}
{% if  mem.status == 0 and cgmember.auth < 2%}
<h3>{{mem.user.username}}:<a href="{% url 'accept' slug=group.title userd=mem.user %}">Accept</a>/<a href="{% url 'reject' slug=group.title userd=mem.user %}">Reject</a></h3>
{% elif mem.status == 1 and cgmember.auth < 2%}
<h3>{{mem.user.username}}:<a href="{% url 'reject' slug=group.title userd=mem.user %}">Remove</a></h3>
{% else %}
<h3>{{mem.user}}</h3>
{% endif %}
{% endfor %}
{% if not user in group.members.all %}
<a href="{%url 'addmember' slug=group.title%}"><button type="button" name="button">Join</button></a>
{% elif user in group.members.all and cgmember.status == 0 %}
<h3>Your application is Pending!!</h3>
{% else %}
<a href="{%url 'addmember' slug=group.title%}"><button type="button" name="button">Leave</button></a>
{% endif %}
{%endblock%}
{% url 'profile' slug=user.username %}
