{% extends "base.html" %}
{% load static %}
{%block content%}
<style media="screen">
    .myGradCard {
        background: rgb(69, 90, 100);
        background: linear-gradient(283deg, rgba(69, 90, 100, 1) 0%, rgba(38, 50, 56, 1) 100%);
    }

</style>
<div class="row">
    <div class="col s12 ">
        <div class="card">
            <div class="card-content">
                <div class="container center">
                    <h3>Group list</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m10 offset-m1   ">
        <div class="row">
            {% for group in object_list %}
            <div class="col s12 m4">
                <div class="card  myGradCard medium">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{group.logo.url}}">
                    </div>
                    <div class="card-content">
                        <span class="card-title  ">
                            <a href="{% url 'group-detail' slug=group.slug activechannel="General" %}" class="white-text text-darken-4">
                                {{group.title}}
                            </a>
                            <i class="material-icons activator right">more_vert</i>
                            </span>

                        <p>Explore</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Group Info<i class="material-icons right">close</i></span>
                        <p>Description:{{group.description}}</p>
                        <p>Members:{{group.members.count}}</p>
                    </div>
                    <div class="card-action">
                        {% for tag in group.tags.all %}
                        <a href="{% url 'explore-tag' tag %} " class="my-tag amber-text text-darken-2"> #{{tag}} </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
