<style media="screen">
    .circular--portrait {
        position: relative;
        width: auto;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
    }

    .circular--portrait img {
        width: 100%;
        height: auto;
    }

    .circular--square {
        border-radius: 50% !important;
    }

    .circular--landscape {
        /* margin: 4vh; */
        display: inline-block;
        position: relative;
        max-width: 10vh;
        max-height: 10vh;
        /* width: 200px; */
        height: 10vh;
        overflow: hidden;
        border-radius: 50%;
    }

    .circular--landscape img {

        width: auto;
        height: 100%;
        /* margin-left: -50px; */
    }

    /* .card{
        height: 10vh;
    } */
</style>

{% for mem in countmem %}
<!-- <li class="collection-item">

        <div class="row">
            <div class="col s4 l4">
                <div class="myChip chip">
                    <img src="{{  mem.user.profile.image.url }}" alt="Contact Person">
                    <p>@{{mem.user.username}}</p>
                    <br>
                    Designation:{{mem.get_auth_display}}
                </div>
            </div>
            {% if cgmember.auth < 2 and cgmember.auth < mem.auth %}

            <div class="col s6 l6">
                <form action="{% url 'promote_demote' %}" method="post">
                    {% csrf_token %}
                    <button name="1" id="promote" class="btn btn-small green" slug={{group.slug}} userd="{{mem.user}}" choice='1' type="submit">Promote</button>
                    {% if  mem.auth < 3 %}
                    <button name="2" id="promote" class="btn btn-small red" slug={{group.slug}} userd="{{mem.user}}" choice='0' type="submit">Demote</button>
                    {% endif %}
                    <br>

                </form>
            </div>
            <div class="col s2 l2">
                <a href="{% url 'reject' slug=group.slug userd=mem.user %}" class="btn-floating btn-small red">
                    <i class="material-icons">remove</i>
                </a>
            </div>
            {%endif%}

        </div>


    </li> -->
<!-- <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col s3">
                    <div class="circular--landscape ">
                        <img src="{{  mem.user.profile.image.url }}">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
<div class="row">
    <div class="col s1">
        <div class="circular--landscape ">
            <img src="{{  mem.user.profile.image.url }}">
        </div>
    </div>
    <div class="col s2 offset-s1 valign-wrapper">
        <div class="container">
        <a href="{% url 'profile' slug=mem.user.username%}">
            <h5 class=" indigo-text text-darken-4"> @{{mem.user.username}}</h5></a>

        </div>

    </div>
    <div class="col s2 ">
        <div class="container">
            <h5 class=" indigo-text text-darken-4">&nbsp&nbsp&nbsp{{mem.get_auth_display}}</h5>

        </div>

    </div>

    <div class="col s6">
        <div class="right">
            {% if cgmember.auth < 2 and cgmember.auth < mem.auth %}

            <form action="{% url 'promote_demote' %}" method="post">
                {% csrf_token %}
                <button name="1" id="promote" class="btn btn-small green" slug={{group.slug}} userd="{{mem.user}}" choice='1' type="submit">Promote</button>
                {% if  mem.auth < 3 %}
                <button name="2" id="promote" class="btn btn-small red" slug={{group.slug}} userd="{{mem.user}}" choice='0' type="submit">Demote</button>
                {% endif %}

            </form>

            {% else %}


            <button class="btn btn-small green disabled">Promote</button>

            <button class="btn btn-small red disabled">Demote</button>



            {%endif%}
            {% if cgmember.auth < 2 and cgmember.auth < mem.auth %}
            <a href="{% url 'reject' slug=group.slug userd=mem.user %}" class="btn-floating btn-small red ">
                <i class="material-icons">remove</i>
            </a>
            {% else %}
            <a class="btn-floating btn-small red  disabled">
                <i class="material-icons">remove</i>
            </a>
            {%endif%}
        </div>
    </div>



</div>
<!--
<div class="card horizontal">
    <div class="card-image">


    </div>
    <div class="card-stacked">
        <div class="card-content">
            <p class="flow-text indigo-text text-darken-4">@{{mem.user.username}}|{{mem.get_auth_display}}

                {% if cgmember.auth < 2 and cgmember.auth < mem.auth %}
                <a href="{% url 'reject' slug=group.slug userd=mem.user %}" class="btn-floating btn-small red right">
                    <i class="material-icons">remove</i>
                </a>
                {% else %}
                <a class="btn-floating btn-small red right disabled">
                    <i class="material-icons">remove</i>
                </a>
                {%endif%}
            </p>

        </div>
        <div class="card-action">
            {% if cgmember.auth < 2 and cgmember.auth < mem.auth %}
            <div class="right">
                <form action="{% url 'promote_demote' %}" method="post">
                    {% csrf_token %}
                    <button name="1" id="promote" class="btn btn-small green" slug={{group.slug}} userd="{{mem.user}}" choice='1' type="submit">Promote</button>
                    {% if  mem.auth < 3 %}
                    <button name="2" id="promote" class="btn btn-small red" slug={{group.slug}} userd="{{mem.user}}" choice='0' type="submit">Demote</button>
                    {% endif %}

                </form>
            </div>
            {% else %}
            <div class="right">

                <button class="btn btn-small green disabled">Promote</button>

                <button class="btn btn-small red disabled">Demote</button>

            </div>

            {%endif%}
        </div>
    </div>
</div>
 -->

{% endfor %}
