<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style2.css">
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    </head>
    <body>
        <div class="container">
            <h2>Welcome To Motilopolis</h2>
            <div class="form-container">
                <form>
                    <label><b>Username</b></label>
                    <input type="text" placeholder="Enter Username"><br><br>
                    <label><b>Password</b></label>
                    <input type="password" placeholder="Enter Password"><br><br>
                    <button type="submit">LOGIN</button>
                    <a href="https://google.com" style="color: white;">Forgot Password?</a href>
                </form>
            </div>
        </div>
</html>