<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style2.css">
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    </head>
    <body>
        <div class="container">
            <h2>Sign Up</h2>
            <div class="form-container">
                <form>
                    <label><b>Name</b></label>
                    <input type="text" placeholder="Enter Your Name"><br>
                    <label><b>Username</b></label>
                    <input type="text" placeholder="Choose a Username"><br>
                    <label><b>Password</b></label>
                    <input type="password" placeholder="Choose Password 1"><br>
                    <label><b>email</b></label>
                    <input type="email" placeholder="Enter Your Email Address"><br><br>
                    <button type="submit">Sign Up</button>
                    <a href="https://google.com" style="color: white;">Forgot Password?</a href>
                </form>
            </div>
        </div>
</html>