<!DOCTYPE html>
<html>
<head>
	<title>Profile Card</title>
	<link rel="stylesheet" type="text/css" href="writing.css">
</head>

<body>

	<div class="card-container">

		<div class="upper-container">
			<div class="image-container">
				<img src="profile.jpg" />
			</div>
		</div>

		<div class="lower-container">
			<div>
				<textarea required=""></textarea>
				</div>
            <div>
            
				<a href="#" class="btn">Post</a>
			</div>
		</div>

	</div>

</body>
</html>
