{%  extends "base.html" %}
{% block content %}
<body>
  <h3 class = "text-muted"> Exploring tag: #{{tag}} </h3>
	{% for post in posts %}
	<article class="media content-section">
				<img class = "rounded-circle article-img" src = "{{post.author.profile.image.url}}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'profile' slug=post.author.username %}">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted }}</small>
    </div>
    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
		<p>
			{% for tag in post.tags.all %}
			<a href = "{% url 'explore-tag' tag %}"> #{{tag}} </a>
			{% endfor %}
		</p>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
	{% endfor %}
</body>
{% endblock content %}
