{%  extends "base.html" %}
{% load static %}
{% block content %}


<!-- <div class="container"> -->
<style media="screen">
	.parallax-container {
		height: 46vh;
	}
</style>
<div class="parallax-container">
	<div class="parallax">
		<img src="{% static 'sn.jpg' %}" alt="" class="responsive-img">
	</div>
</div>


<div class="row ">
	<style media="screen">
		/* img{
			z-index: 9999 !important;
		} */
	</style>
	<div class="col s12 l2  ">
		<br>
		<div class="center">
			{% if user.is_authenticated%}
			<a href="{% url 'post-create' %} " class="btn btn-large amber indigo-text text-darken-4 center  waves-effect waves-light">Post </a>
			<br>
			<a href="{% url 'poll_create' %} " class="btn btn-large amber 	indigo-text text-darken-4 center  waves-effect waves-light"> Poll </a>

			<!-- <ul class="collection" >
					<li class="collection-item cyan darken-3">
					</li>
					<li class="collection-item cyan darken-3">
					</li>
				</ul> -->

			{% endif %}
		</div>
		<!-- <div class="card">
			<div class="card-content">
				<h4>Groups</h4>
				<div class="row">

					{% for g in groups %}
					<div class="col s12 l12">
						<a href="{% url 'group-detail' slug=g.title activechannel='General' %}" class="flow-text red-text text-accent-4">
							<p> {{g.title}} </p>
						</a>
					</div>
					{% endfor %}


					<div class="col s12 l12">
						<a href="{% url 'create_group'  %}" class="btn btn-large indigo darken-4">
							<p> New Group </p>
						</a>
					</div>
				</div>


			</div>
		</div> -->
		<div class="card      ">
			<div class="card-content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			</div>
		</div>
	</div>

	<div id="postCalone" class="col s12 l7 ">
		<ul class="row tabs">
			<li class="tab col s6">
				<a href="#recentPosts" class="active indigo-text text-darken-4">
					Recent Posts
				</a>
			</li>
			<li class="tab col s6">
				<a href="#searchPosts" class="indigo-text text-darken-4">
					Search Posts

				</a>

			</li>
		</ul>

		<div id="recentPosts" class="col s12">
			<!-- <h3 class="active indigo-text text-darken-4">Recent Posts</h3> -->
			<br>
			{% for post in posts %}

			{% include 'snippets/postCard.html' %}

			{% endfor %}
		</div>
		<div id="searchPosts" class="col s12">
			<!-- <h2 class="active indigo-text text-darken-4">Search Posts</h2> -->
			<h2>Search</h2>
			<div id = "search"> {% include 'Post/searchresults.html' %} </div>
		</div>



	</div>
	<div class="col s12 l3 ">
		<style media="screen">
			#sid-bar{
				background: rgb(96, 125, 139);
				background: linear-gradient(218deg, rgba(96, 125, 139, 1) 0%, rgba(38, 50, 56, 1) 100%);
			}

		</style>
		<div id="sid-bar"class="card">
			<div class="card-content">
				<h4 class="center">Our Sidebar</h4>

				<ul class="list-group">

				</ul>


				<div class="divider">

				</div>
				<style media="screen">
				.myGradCard {
					background: rgb(69, 90, 100);
					background: linear-gradient(283deg, rgba(69, 90, 100, 1) 0%, rgba(38, 50, 56, 1) 100%);
				}
				</style>
				<ul class="collection with-header ">

					{% if tags %}
					<li class="collection-headermyGradCard">
						<h5> Explore Tags:</h5>
					</li>

					{% for tag in tags %}
					<li class="collection-item myGradCard"> <a href="{% url 'explore-tag' tag %}" class="orange-text"> #{{tag.name}} </a></li>
					{% endfor %}
					{% endif %}


				</ul>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	// $('.materialboxed').materialbox('onOpenStart', function () {
	// 		$('.card').fadeOut();
	// });
	$('bodt').addClass('grey');
</script>

{% endblock content %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(event) {
        $(document).on('click', '#searchterm', function(event) {

            var searchterm  = $("#searchcontent").val();


            $.ajax({
                type: 'POST',
                url: '{% url "search" %}',
                data: {
                    'searchterm': searchterm,
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                success: function(response) {
                    $('#search').html(response['form'])
                    console.log(searchterm);
                    // $("#love").addClass("red-text");
                },
                error: function(rs, e) {
                    console.log(rs.responseText);
                }
            });

        });
    });
</script>
{% endblock %}
