<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
<h1>create poll</h1>
<h3>leave blank for unwanted poll option</h3>
<form class="" action="" method="post">
    {%csrf_token%}
    {{pollform.as_p}}
    {{ formset.management_form }}
{% for form in formset %}
<p>{{form}}</p>
{% endfor %}
<button class="addb">+</button>
<button type="submit" class="btn btn-block btn-primary">Create</button>
</form>
    </body>
<!-- <script type='text/javascript'>
    $(document).ready(function(){
    $(".addb").click(function(e) {
        e.preventDefault();
        $("form > p:first-child").clone(true).insertBefore("form > p:last-child");
        return false;
    });
}); -->
</script>
</html>
