{% load crispy_forms_tags %}

  <input type="text" id="searchcontent" value= "" />

  <button id = "searchterm" class="btn btn-outline-info" type="submit" value = "{{form.instance.SearchTerm}}"> Search </button>
</form>

{% if users %}
<h4> Users: </h4>
{% for user in users %}
<div class="card orange lighten-5 postCards">

    <div class="card-content">
        <div class="row">
            <div class="col s11 l11">
                <h6><a href="{% url 'profile' slug=user.username %}" class="indigo-text text-darken-4" > @{{ user.username }}</a></h6>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% if groupse%}
<h1>Groups:</h1>
{% for group in groupse %}


<div class="card orange lighten-5 postCards">

    <div class="card-content">
        <div class="row">
            <div class="col s11 l11">
                {% if not user in post.views.all %}
                <h3><a href="{% url 'group-detail' slug=group.slug activechannel="General" %}" class="indigo-text text-darken-4">{{ group.title }}</a></h3>
                {% else %}
                <h3><a href="{% url 'group-detail' slug=group.slug activechannel="General"%}" class="indigo-text text-darken-4" >{{ group.title }}</a></h3>
                {% endif %}
            </div>
            <div class="col s1 l1 right">
                <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>

            </div>
        </div>
        <div class="row    ">
            <div class="col s6 l6">
            </div>
            <br>
            <div class="col s12 l12 postCards-mainContent">
                {{group.content|safe}}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{%endif%}
{% if posteys %}
<h4> Posts: </h4>
{% for post in posteys %}
{% include 'snippets/postCard.html' %}
{% endfor %}
{% endif %}
