<style media="screen">
    .circular--portrait {
        position: relative;
        width: auto;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
    }

    .circular--portrait img {
        width: 100%;
        height: auto;
    }

    .circular--square {
        border-radius: 50% !important;
    }

    .circular--landscape {
        margin: 4vh;
        display: inline-block;
        position: relative;
        max-width: 10vh;
        max-height: 10vh;
        /* width: 200px; */
        height: 10vh;
        overflow: hidden;
        border-radius: 50%;
    }

    .circular--landscape img {

        width: auto;
        height: 100%;
        /* margin-left: -50px; */
    }
</style>
