<footer id="mainFooter" class="page-footer scrollspy">
    <div class="container">
        <div class="row">
            <div class="col l5 s12">
                <h5 class="white-text">footer</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l5  s12">
                <h5 class="white-text">Websit Made By</h5>
                <p><a class="btn btn-large grey-text text-lighten-3 orange" href="#!">Divani</a><a class="btn btn-large grey-text text-lighten-3 red" href="#!">Dipti</a><a class="btn btn-large grey-text text-lighten-3 green" href="#!">Kirito</a><a class="btn btn-large grey-text text-lighten-3 purple" href="#!">Siddhi</a></p>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyrighted by BRUH family
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
