<style media="screen">
    .myGradCard {
        background: rgb(69, 90, 100);
        background: linear-gradient(283deg, rgba(69, 90, 100, 1) 0%, rgba(38, 50, 56, 1) 100%);
    }

</style>
<div class="navbar-fixed ">
    <nav class="nav-wrapper myGradCard">
        <!-- red accent-4 -->
        <div class="    ">
            <a href="{% url 'blog-home' %}" class="nav-tag center brand-logo">Motiopolis</a>
            <a href="" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <style media="screen">
                .nav-tag:hover{
                    background-color: #ff8a80;
                    color:#d50000;
                }
            </style>
            <ul class="left hide-on-med-and-down  ">
                <li><a href="{% url 'blog-home' %}" class="nav-tag" >Home</a></li>

                <li><a href="{% url 'group-list' %}" class="nav-tag" >Groups</a></li>

                <li><a href="#mainFooter" class="nav-tag" >Contact</a></li>


            </ul>

            <ul class="right hide-on-med-and-down ">
                {% if user.is_authenticated%}
                <!-- href="{%url 'notifications'%}" -->
                <!-- <li><a id="notificationsButton" class=" btn-floating z-depth-0 waves-effect waves-light  ">
                        <i class="large material-icons indigo-text text-darken-4">notifications</i>
                    </a></li>
                <li><span class="badge white-text new pink">5</span></li> -->
                <li><a href="{% url 'profile' slug=user.username %}" class="nav-tag"> {{user.username }}</a></li>
                <li><a class="btn white indigo-text waves-effect waves-light" href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a class="btn white indigo-text waves-effect waves-light" href="{% url 'login' %}">Login</a></li>

                <li><a class="btn white indigo-text waves-effect waves-light" href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-links">
    <li><a href="">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Contact</a></li>
</ul>
