<style media="screen">
.postCards{

}
.postCards-mainContent{
    max-height: 30vh;
    overflow-y: scroll;
}
</style>
<div class="row">
    <div class="col s10 l0 offset-l1 offset-s1 ">
        <!-- offset-l1 offset-s1 -->
        <div class="card amber lighten-4 hoverable postCards">
            <div class="card-content">
                <div class="row">
                    <div class="col s11 l11">
                        <a href="{% url 'post-detail' post.id %}"><span class="card-title indigo-text text-darken-4">{{ post.title }} <p class=black-text>{{ post.date_posted }}</p></span></a>
                    </div>
                    <div class="col s1 l1">
                        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                    </div>
                </div>
                <div class="postCards-mainContent">
                    <p>{{ post.content|safe }}</p>
                </div>
                <!-- <div class="row">
                    <div class="col s12 l12 ">

                    </div>
                </div> -->
            </div>
            <div class="card-reveal">

                {% if userd == user %}
                <span class="card-title grey-text text-darken-4">What to do<i class="material-icons right">close</i></span>

                <a class="btn btn-large orange waves-effect waves-light red" href="{%url 'post-update' post.id%}">Update </a>
                <a class="btn btn-large red waves-effect waves-light red" href="{%url 'post-delete' post.id%}"> Delete </a>

                {% endif %}
            </div>
            <div class="card-action">
                <a href="">More details</a>
                <a href=""> Litelo</a>
                <!-- <a href="" class="halfway-fab btn-floating pink pulse">
                    <i class="material-icons">favorite</i>
                </a> -->
            </div>
        </div>

    </div>
</div>
