<style media="screen">
    .myLoader-wrapper {
        z-index: 6000;
        position: absolute;
        background-size: cover;
        background-color: rgb(255, 255, 255);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    #myLoader {
        z-index: 6000;
        position: absolute;
        /* margin: auto; */
        /* transform: translateX(100px); */
        top: 50%;
        left: 50%;
    }
</style>
<div class="myLoader-wrapper">
    <div id="myLoader" class="preloader-wrapper big active">
        <div class="myLoader spinner-layer spinner-blue">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
