<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{%static "login.css"%}">
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    </head>
    <body>
        <div class="container">
           <h2>Welcome To Motilopolis</h2>
           <div class="form-container">
               <form method="POST">
           {% csrf_token %}
           <fieldset class="form-group">
               <legend class="border-bottom mb-4"> Login </legend>
               {{form.as_p}}
           </fieldset>
           <div class="form-group">
           <button class="btn btn-outline-info" type="submit"> Log In </button>
           </div>
       </form>
       <a href="{%url 'password_reset' %}">
        <button class="btn btn-small"> Forget Password </button></a>
           </div>
       </div>
    </body>
</html>
