<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{%static "login.css"%}">
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    </head>
    <body>
        <div class="container">
           <h2>Welcome To Motilopolis</h2>
           <div class="form-container">
            <h1 style="text-align:centre;">Password Changed Successfully</h1>
            <a href="{%url 'blog-home' %}">
             <button class="btn btn-small"> Home </button></a>
           </div>
       </div>
    </body>
</html>
