{% load static %}

<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->
    <link rel="stylesheet" href="{% static 'materialize.min.css' %}">

    {% if title %}
    <title> Blog- {{title}}</title>
    {% else %}
    <title> Blog </title>
    {% endif %}
    <style>
        nav .badge {
            position: relative;
            top: 20px;
            right: 20px;
        }
    </style>
    <style media="screen">
        .myLoader-wrapper{
            z-index: 6000;
            position: absolute;
            background-size: cover;
            background-color: rgb(255, 255, 255);
            height: 100%;
            width: 100%;
            top:0;
            left: 0;
        }
        #myLoader{
            z-index: 6000;
            position: absolute;
            /* margin: auto; */
            /* transform: translateX(100px); */
            top: 50%;
            left: 50%;
        }

    </style>
</head>

<body class="">
    <div class="myLoader-wrapper">
        <div id="myLoader" class="preloader-wrapper big active">
            <div class="myLoader spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>



    {%block new%}
    {%endblock%}
    {% include 'mainNav.html' %}

    <div id="slide-out" class="sidenav">
        {% for post in notifications %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{post.author.profile.image.url}}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'profile' slug=post.author.username %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                {% if not user in post.views.all %}
                <u>
                    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                </u>
                {% else %}
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                {% endif %}
                <p>
                    {% for tag in post.tags.all %}
                    <a href="{% url 'explore-tag' tag %}"> #{{tag}} </a>
                    {% endfor %}
                </p>
            </div>
        </article>
        {% endfor %}
    </div>

    <!-- <a href="#" id="rightNavOpener" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->

    {% block content %}
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script> -->

    {% include 'mainFooter.html' %}
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'materialize.min.js' %}"></script>
    {%block js%}
    {%endblock%}

</body>
<script type="text/javascript">
    $(window).on('load', function() {
        $('.myLoader-wrapper').fadeOut("slow");
    });
    $(document).ready(function() {

        $('.sidenav').sidenav();
        $('.materialboxed').materialbox();
        $('.parallax').parallax();
        $('.tabs').tabs();
        $('.modal').modal();
        $('.collapsible').collapsible();
        $('.scrollspy').scrollSpy();
        // $('').edge='right';
        var elems = document.getElementById('slide-out');
        var rightNav = M.Sidenav.init(elems, {
            edge: 'right'
        });
        // $("#notificationsButton").sideNav();
        document.getElementById('notificationsButton').addEventListener("click", function() {
            rightNav.open();
        });
        // $('.button-collapse').sideNav('show');
        // (function($){
        //   $(function(){
        //
        //     $('.my-btn').sideNav({
        //       edge: 'left', // Choose the horizontal origin
        //       closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
        //       draggable: true // Choose whether you can drag to open on touch screens
        //     }
        //     );
        //
        //   }); // end of document ready
        // })(jQuery);
        // $("").onClick(function() {
        //     console.log("sdffsdfsfsd");
        //      // $('#slide-out').sidenav();
        // });
        // .sideNav('show');
        // sidenav('methodName');
        // var instance = M.Sidenav.getInstance(document.getElementById('slide-out'));
        // instanceedge='right';
    });
</script>

</html>
