{% load static %}

<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->
    <link rel="stylesheet" href="{% static 'materialize.min.css' %}">

    {% if title %}
    <title> Blog- {{title}}</title>
    {% else %}
    <title> Blog </title>
    {% endif %}
    <style>
        body,html{
            overflow-x:auto;
        }
        nav .badge {
            position: relative;
            top: 20px;
            right: 20px;
        }
    </style>

</head>
{% include 'snippets/sitePreLoader.html' %}
<body class="">
     <!-- indigo lighten-5 -->

        {% include 'snippets/mainNav.html' %}
    <!-- <div class="row">
        <div class="col s10 offset-s1"> -->
            {%block new%}
            {%endblock%}


            <div id="slide-out" class="sidenav">
                {% for post in notifications %}
                <div class="row">
                    <div class="col s12 l12">
                         {% include 'snippets/postCard.html' %}
                    </div>
                </div>
                {% endfor %}
            </div>

            {% block content %}
            {% endblock %}


            <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
            <script src="{% static 'materialize.min.js' %}"></script>
            {%block js%}
            {%endblock%}
        <!-- </div>
    </div> -->

</body>
<script type="text/javascript">
    $(window).on('load', function() {
        $('.myLoader-wrapper').fadeOut("slow");
    });
    $(document).ready(function() {

        $('.sidenav').sidenav();
        $('.materialboxed').materialbox();
        $('.parallax').parallax();
        $('.tabs').tabs();
        $('.modal').modal();
        $('.collapsible').collapsible();
        $('.scrollspy').scrollSpy();
        // $('').edge='right';
        var elems = document.getElementById('slide-out');
        var rightNav = M.Sidenav.init(elems, {
            edge: 'right'
        });

        document.getElementById('notificationsButton').addEventListener("click", function() {
            rightNav.open();
        });

    });
</script>

</html>
